@using BlazorServer.Data.Models.Domain
@using BlazorServer.Data.Contexts
@using BlazorServer.Data.Repositories
@using Microsoft.EntityFrameworkCore
@using Action = Syncfusion.Blazor.Grids.Action
@inject NavigationManager Nav
@inherits OwningComponentBase

<SfGrid DataSource="@CaseRecords" AllowPaging="true" AllowSorting="true" AllowFiltering="true" GridLines="GridLine.Both" Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })">
    <GridPageSettings PageSize="5"></GridPageSettings>
                <GridEditSettings AllowAdding="true" AllowEditOnDblClick="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
                  <GridEvents OnActionBegin="OnActionBegin" TValue="CaseRecord"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(CaseRecord.CaseReference) HeaderText="Case Reference"></GridColumn>
        <GridColumn Field=@nameof(CaseRecord.IsActive) HeaderText="Active" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(CaseRecord.DateCreated) HeaderText="Date Created" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(CaseRecord.CreatedBy) HeaderText="Created By" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn HeaderText="Action" TextAlign="TextAlign.Center">
            <Template>
                @{
                    var caseRecord = (context as CaseRecord);
                    <div>
                        <button class="btn btn-primary" @onclick="@(() => ViewCase(caseRecord.Id))">View</button>
                    </div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {

    private List<CaseRecord> CaseRecords { get; set; } = new();
    private CaseRepository? _caseRepository;

    [Parameter]
    public bool Busy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _caseRepository = ScopedServices.GetRequiredService<CaseRepository>();
        if (Busy) return;
        Busy = true;
        var caseRecords = await _caseRepository.GetCases();
        if (caseRecords is not null)
        {
            CaseRecords = caseRecords.ToList();
        }
        Busy = false;
        await base.OnInitializedAsync();
    }
    
    private async Task OnActionBegin(ActionEventArgs<CaseRecord> args)
    {
        if (args.RequestType == Action.Add)
        {
            Nav.NavigateTo("/cases/create-case");
        }
        if (args.RequestType == Action.BeginEdit)
        {
            Nav.NavigateTo($"/cases/edit-case/{args.Data.Id}");
        }
        if (args.RequestType == Action.Delete)
        {
            await DeleteCase(args.Data);
        }
    }

    private void ViewCase(int id)
    {
        Nav.NavigateTo($"/cases/case-detail/{id}");
    }

    private async Task DeleteCase(CaseRecord caseRecord)
    {
        if (Busy) return;
        Busy = true;
        if (_caseRepository is not null)
        {
            await _caseRepository.DeleteCase(caseRecord.Id);
            var caseRecords = await _caseRepository.GetCases();
            if (caseRecords is not null)
            {
                CaseRecords = caseRecords.ToList();
            }
            StateHasChanged();
        }
        Busy = false;
    }
}