@using BlazorServer.Data.Models.Domain
@using BlazorServer.Data.Contexts
@using BlazorServer.Data.Repositories
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using BlazorServer.Constants
@using Action = Syncfusion.Blazor.Grids.Action
@inject NavigationManager Nav
@inherits OwningComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<SfGrid DataSource="@HostRecords" AllowPaging="true" AllowSorting="true" AllowFiltering="true" GridLines="GridLine.Both" Toolbar="@(new List<string>() { "Add", "Edit", "Delete" })">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowEditOnDblClick="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
      <GridEvents OnActionBegin="OnActionBegin" TValue="HostRecord"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(HostRecord.FirstName) HeaderText="First Name"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.LastName) HeaderText="Last Name" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.DateOfBirth) HeaderText="Date of Birth" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.DateCreated) HeaderText="Date Created" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.CreatedBy) HeaderText="Created By" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn HeaderText="Action" TextAlign="TextAlign.Center">
            <Template>
                @{
                    var hostRecord = (context as HostRecord);
                    <div>
                        <a class="btn btn-primary" href="@($"/hosts/view-host?hostRecordId={hostRecord.Id}")">View</a>
                    </div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {

    private List<HostRecord> HostRecords { get; set; } = new();
    private HostRepository? _hostRepository;
    private CaseRepository? _caseRepository;
    
    [Parameter]
    public bool Busy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _hostRepository = ScopedServices.GetRequiredService<HostRepository>();
        _caseRepository = ScopedServices.GetRequiredService<CaseRepository>();
        if (Busy) return;
        Busy = true;
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userRole = user.FindFirstValue(ClaimTypes.Role);
        await PopulateHosts(userRole, user);
        Busy = false;
        await base.OnInitializedAsync();
    }

    private async Task OnActionBegin(ActionEventArgs<HostRecord> args)
    {
        if (args.RequestType == Action.Add)
        {
            Nav.NavigateTo("/hosts/create-host");
        }
        if (args.RequestType == Action.BeginEdit)
        {
            Nav.NavigateTo($"/hosts/edit-host?id={args.Data.Id}");
        }
        if (args.RequestType == Action.Delete)
        {
            await DeleteHost(args.Data);
        }
    }

    private async Task DeleteHost(HostRecord hostRecord)
    {
        if (Busy) return;
        Busy = true;
        if (_hostRepository is not null)
        {
            await _hostRepository.DeleteHost(hostRecord.Id);
        }
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userRole = user.FindFirstValue(ClaimTypes.Role);
        await PopulateHosts(userRole, user);
        StateHasChanged();
        Busy = false;
    }

    private async Task PopulateHosts(string userRole, ClaimsPrincipal user)
    {
        if (_hostRepository is not null && _caseRepository is not null)
        {
            if (userRole == ApplicationConstants.Admin)
            {
                var hosts = await _hostRepository.GetHosts();
                if (hosts is not null)
                {
                    HostRecords = hosts.ToList();
                }
            }
            else
            {
                var involvedCases = await _caseRepository.GetAssignedCases(user.FindFirstValue(ClaimTypes.NameIdentifier));
                foreach (var caseRecord in involvedCases)
                {
                    var hostsForCase = await _caseRepository.GetInvolvedHosts(caseRecord.Id);
                    HostRecords.AddRange(hostsForCase);
                }
            }
        }
    }
}