@using BlazorServer.Data.Models.Domain
@using BlazorServer.Data.Repositories
@inherits OwningComponentBase
@inject NavigationManager NavigationManager

<p>
    <a href="/hosts/create-host">Create host</a>
</p>

<SfGrid DataSource="@HostRecords" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(HostRecord.Id) HeaderText="Host Id" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.FirstName) HeaderText="First Name"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.LastName) HeaderText="Last Name" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.HostAge) HeaderText="Age" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.DateCreated) HeaderText="Date Created" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HostRecord.CreatedBy) HeaderText="Created By" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn HeaderText="Action" TextAlign="TextAlign.Center">
            <Template>
                @{
                    var hostRecord = (context as HostRecord);
                    <div>
                        <button class="btn btn-primary" @onclick="@(() => EditHost(hostRecord.Id))">Edit</button>
                        <button class="btn btn-danger ml-2" @onclick="@(() => DeleteHost(hostRecord))">Delete</button>
                    </div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {

    private List<HostRecord> HostRecords { get; set; } = new();
    private HostRepository _hostRepository { get; set; }

    protected override void OnInitialized()
    {
        _hostRepository = ScopedServices.GetRequiredService<HostRepository>();

        var hosts = _hostRepository.GetHosts();
        if (hosts is not null)
        {
            HostRecords = hosts;
        }
    }

    private void EditHost(int id)
    {
        NavigationManager.NavigateTo($@"/hosts/edit-host/{id}");
    }

    private void DeleteHost(HostRecord hostRecord)
    {
        _hostRepository.RemoveHost(hostRecord);
        var hosts = _hostRepository.GetHosts();
        if (hosts is not null)
        {
            HostRecords = hosts;
            StateHasChanged();
        }
    }
}