@using BlazorServer.Data.Models.Domain
@using BlazorServer.Data.Contexts
@using BlazorServer.Data.Repositories
@using Microsoft.EntityFrameworkCore
@using BlazorServer.Areas.Identity.Pages.Shared
@using System.Security.Claims
@inject NavigationManager Nav
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<SfGrid DataSource="@Users" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(GridUser.FullName) HeaderText="User Name"></GridColumn>
        <GridColumn Field=@nameof(GridUser.Email) HeaderText="Email Address" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn HeaderText="Action" TextAlign="TextAlign.Center">
            <Template>
                @{
                    var userRecord = (context as IdentityUser);
                    <div>
                        <button class="btn btn-danger ml-2" @onclick="@(() => EndInvolvement(userRecord))">End Involvement</button>
                    </div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    
    public class GridUser
    {
        public string FullName { get; set; }
        public string Email { get; set; }
    }

    private List<GridUser> Users { get; set; } = new();

    [Parameter]
    public int CaseId { get; set; }

    [Parameter]
    public bool Busy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Busy) return;
        Busy = true;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var caseInvolvementUserIds = await context.CaseInvolvements
            .Where(x => x.CaseRecordId == CaseId && x.IsActive).Select(x => x.UserId).ToListAsync();
        
        var users = await context.Users.Where(x => caseInvolvementUserIds.Contains(x.Id)).ToListAsync();
        if (users is not null)
        {
            foreach (var appUser in users)
            {
                var fullNameClaim = await context.UserClaims.Where(x => x.UserId == appUser.Id && x.ClaimType == "FullName").FirstOrDefaultAsync();
                Users.Add(new GridUser { FullName = fullNameClaim.ClaimValue, Email = appUser.Email });
            }
        }
        Busy = false;
        await base.OnInitializedAsync();
    }

    private async Task EndInvolvement(IdentityUser userRecord)
    {
        if (Busy) return;
        Busy = true;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var userInvolvements = await context.CaseInvolvements
            .Where(x => x.CaseRecordId == CaseId && x.UserId == userRecord.Id && x.IsActive)
            .ToListAsync();
        
        context.CaseInvolvements.RemoveRange(userInvolvements);
        await context.SaveChangesAsync();
        
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        
        var caseInvolvementUserIds = await context.CaseInvolvements
            .Where(x => x.CaseRecordId == CaseId && x.IsActive).Select(x => x.UserId).ToListAsync();
        
        var users = await context.Users.Where(x => caseInvolvementUserIds.Contains(x.Id)).ToListAsync();
        if (users is not null)
        {
            foreach (var appUser in users)
            {
                var fullNameClaim = await context.UserClaims.Where(x => x.UserId == appUser.Id && x.ClaimType == "FullName").FirstOrDefaultAsync();
                Users.Add(new GridUser{ FullName = fullNameClaim.ClaimValue, Email = appUser.Email });
            }
        }
        StateHasChanged();
        Busy = false;
    }
}