@using BlazorServer.Data.Models.Domain
@using BlazorServer.Data.Contexts
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> DbContextFactory
@inject NavigationManager NavigationManager

<p>
    <a href="/home-visits/create-visit">Create home visit</a>
</p>

<SfGrid DataSource="@HomeVisitRecords" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridColumns>
        <GridColumn Field=@nameof(HomeVisitRecord.VisitorName) HeaderText="Visitor Name"></GridColumn>
        <GridColumn Field=@nameof(HomeVisitRecord.HostsVisited) HeaderText="Hosts Visited" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HomeVisitRecord.GuestsVisited) HeaderText="Guests Visited" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HomeVisitRecord.VisitDate) HeaderText="Visit Date/Time" Format="dd/MM/yyyy hh:mm" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HomeVisitRecord.DateCreated) HeaderText="Date Created" Format="dd/MM/yyyy" Type="ColumnType.Date" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field=@nameof(HomeVisitRecord.CreatedBy) HeaderText="Created By" TextAlign="TextAlign.Right"></GridColumn>
        <GridColumn HeaderText="Action" TextAlign="TextAlign.Center">
            <Template>
                @{
                    var visit = (context as HomeVisitRecord);
                    <div>
                        <button class="btn btn-primary" @onclick="@(() => EditVisit(visit.Id))">Edit</button>
                        <button class="btn btn-danger ml-2" @onclick="@(() => DeleteVisit(visit))">Delete</button>
                    </div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {

    private List<HomeVisitRecord> HomeVisitRecords { get; set; } = new();
    
    [Parameter]
    public bool Busy { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Busy) return;
        Busy = true;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        var visits = await context.HomeVisitRecords.ToListAsync();
        if (visits is not null)
        {
            HomeVisitRecords = visits;
        }
        Busy = false;
        await base.OnInitializedAsync();
    }

    private void EditVisit(int id)
    {
        NavigationManager.NavigateTo($"/home-visits/edit-visit/{id}");
    }

    private async Task DeleteVisit(HomeVisitRecord visit)
    {
        if (Busy) return;
        Busy = true;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        context.Attach(visit);
        context.Entry(visit).State = EntityState.Deleted;
        await context.SaveChangesAsync();
        var visits = await context.HomeVisitRecords.ToListAsync();
        if (visits is not null)
        {
            HomeVisitRecords = visits;
            StateHasChanged();
        }
        Busy = false;
    }
}