@page "/home-visits/index"

<h1>Home Visits</h1>
<hr/>
<div class="row">
    <div class="col-lg-8">
        <VisitGrid Busy="@Busy"/>
    </div>
</div>

@code {

    private bool Busy { get; set; }

}