@page "/cases/index"
<h3>Cases</h3>

<div class="row">
    <div class="col-lg-8">
        <CaseGrid Busy="@Busy"/>
    </div>
</div>

@code {
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    private bool Busy { get; set; }
}