@page "/cases/create-case"
@inject NavigationManager NavigationManager
@using BlazorServer.Data.Models.Domain
@using AutoMapper
@using BlazorServer.Data.Contexts
@using Microsoft.EntityFrameworkCore
@inject IMapper Mapper
@inject IDbContextFactory<AppDbContext> DbContextFactory
<h3>Create Case</h3>

<div class="row">
    <div class="col-lg-6">
        <EditForm Model="@CaseModel" OnValidSubmit="SubmitForm">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="mb-3">
                <label for="@CaseModel.CaseReference">Case reference</label>
                <InputText @bind-Value="CaseModel.CaseReference" class="form-control"/>
                <ValidationMessage For="@(() => CaseModel.CaseReference)"/>
            </div>
            <div class="mb-3">
                <SfCheckBox @bind-Checked="CaseModel.IsActive" Label="Active case" CssClass="e-success"></SfCheckBox><br/>
                <ValidationMessage For="@(() => CaseModel.IsActive)"/>
            </div>
            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a href="/cases/index" class="btn btn-secondary ml-2">Back to case list</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    
    private CaseRecordDTO CaseModel { get; set; } = new();
    public bool Busy { get; set; }

    protected override void OnInitialized()
    {
        CaseModel.DateCreated = DateTime.Now;
    }

    private async Task SubmitForm()
    {
        var caseRecord = Mapper.Map<CaseRecord>(CaseModel);
        if (Busy) return;
        Busy = true;
        await using var context = await DbContextFactory.CreateDbContextAsync();
        await context.CaseRecords.AddAsync(caseRecord);
        await context.SaveChangesAsync();
        Busy = false;
        CaseModel = new();
        NavigationManager.NavigateTo("/cases/index");
    }
}