@page "/hosts/index"

<h1>Hosts</h1>
<hr/>

<div class="row">
    <div class="col-lg-8">
        <HostGrid Busy="@Busy"/>
    </div>
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private bool Busy { get; set; }
    private string UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        UserId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        await base.OnInitializedAsync();
    }

}